{% extends "base.html" %}

{% block content %}
<h2>Staza za prolazak mišem</h2>
<p>Pomaknite kursor unutar staze i dođite do cilja</p>

<div id="hiddenUsername" style="display:none;">{{ username }}</div>
<div id="hiddenTrackID" style="display:none;">Easy1</div>

<!-- Wrapping container -->
<div class="center-container">
  <!-- SVG for the maze with the width of the tunnel set to 100px -->
  <svg width="1900" height="600" style="border: 1px solid black;">
    <!-- Start Line -->
    <path id="startLine" style="fill: none; stroke: rgb(0, 0, 0);" d="M 50 450 L 50 550"></path>

    <!-- Stop Line -->
    <path id="stopLine" style="fill: none; stroke: rgb(0, 0, 0);" d="M 1800 50 L 1800 150"></path>

    <!-- Upper Line (Straight, Tunnel width 100px) -->
    <path id="upperLine" style="fill: none; stroke: rgb(0, 0, 0);" 
          d="M 50 450 H 400 V 100 H 750 V 100 H 1000 V 450 H 1500 V 50 H 1600 V 50 H 1800"></path>

    <!-- Lower Line (Straight, Tunnel width 100px) -->
    <path id="lowerLine" style="fill: none; stroke: rgb(0, 0, 0);" 
          d="M 50 550 H 500 V 200 H 850 V 200 H 900 V 550 H 1600 V 150 H 1600 V 150 H 1800"></path>
  </svg>

  <!-- Results container -->
  <div id="result-container" class="container text-center mt-4" >
    <div id="timeDisplay" class="h4" style="width: 1900px;"></div>
    <div id="errorCountDisplay" class="h5 mt-2" style="width: 1900px;"></div>
    <!-- Success message -->
    <div id="successMessage" class="alert alert-success mt-3 d-none" role="alert" style="width: 1900px;">
      Uspješno završen zadatak, {{ username }}!
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/mouse_tracking.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/time_and_error_tracking.js') }}"></script>
{% endblock %}
