{% extends "base.html" %}

{% block content %}
<div class="container" style="max-width: 400px; margin-left: 60%;">
    <h2 class="text-center">Dobrodošli, {{ username }}</h2>
    <p class="text-center">Molimo odaberite uređaj za kontroliranje pokazivača:</p>

    <form id="deviceForm" method="POST" action="{{ url_for('views.home') }}">
        <select id="deviceSelection" name="device" class="form-select" required>
            <option value="" disabled selected>--Odaberite uređaj--</option>
            <option value="mouse">Miš</option>
            <option value="trackpad">Trackpad</option>
        </select>

        <div class="text-center mt-4">
            <button id="startTrackButton" type="button" class="btn btn-primary">Započni eksperiment</button>
        </div>
    </form>
</div>

<script>
    // Validacija odabira uređaja prije slanja forme
    document.getElementById("startTrackButton").addEventListener("click", function () {
        const selectedDevice = document.getElementById("deviceSelection").value;
        
        if (!selectedDevice) {
            alert("Molimo odaberite uređaj!"); 
            return;
        }

        document.getElementById("deviceForm").submit();
    });
</script>
{% endblock %}
