{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="border p-4 rounded shadow" style="max-width: 400px; width: 100%; box-sizing: border-box; margin-left: 55%;">
      <h2 class="text-center mb-4">Login</h2>
      <form action="/" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Ime:</label>
          <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Prijava</button>
      </form>
    </div>
  </div>
{% endblock %}
